/*classe que centraliza tabela*/
.center-hor{
  margin-right:auto;
  margin-left:auto;
}

/*classe que define alguns estilos da tabela*/
.layout-table,
.layout-table th,
.layout-table td {
  width: 800px;
  border-style: solid;
  border-color: rgb(28, 154, 112);
  border-width: 2px;
}

/*classe que colocar cor de fundo no cabecalho da tabela*/
.header-table {
  background-color: rgb(161, 186, 248);
}

/*classe que centraliza texto da tabela*/
.text-center {
  text-align: center;
}

/*classe para largura do input formulário*/
.width-100 {
  width: 100%;
}

/*classe container do input formulário*/
.container-input {
  width: 400px;
  margin-top: 30px;
}

/*classe botão formulário*/
.button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(28, 154, 112); /* Green */
  border-radius: 10px;
  border-color: rgb(28, 154, 112);
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
